body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.linebreak {
    flex-basis: 100%;
    height: 0;
}

#title {
    font-size: 4rem;
    margin: 1rem 0 0 1rem;
}

.formdiv {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: .25rem;
    margin-top: 1rem;
}


.formdiv label:after {
    content: ":";
}

.form {
    margin: 1rem;
    font-size: 1.5rem;
}

.form input {
    height: 4vh;
    width: 50vh;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: black;
    margin-left: .5rem;
    padding-left: .5rem;
    color: white;
}

.form #topfontsize {
    height: 3vh;
    width: 3vh;
}

.form #bottomfontsize {
    height: 3vh;
    width: 3vh;
}

.form [for="bottomfontsize"] {
    margin-left: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form button {
    border-radius: 10px;
    height: 5vh;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 2px solid gray;
    margin: 1rem;
}

#memeBox {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    -webkit-text-stroke: 3px black;
    overflow-y: auto;
    height: 50rem;
    width: 100%;

}

#memeBox::-webkit-scrollbar {
    width: .75rem;
}

#memeBox::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 100px;
}
  
#memeBox::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100px;
}

#memeBox::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0.5); 
}


#memeBox .toptext {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: .5rem;
    font-size: 4rem;
    text-align: center;
    pointer-events: none;
}

#memeBox .bottomtext {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: .5rem;
    font-size: 4rem;
    text-align: center;
    pointer-events: none;
}

#memeBox #delete {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    font-size: 4rem;
    pointer-events: none;
}

.meme {
    position: relative;
    text-align: center;
    display: inline-block;
    zoom: 1;
    margin: 2px;
}

.meme img {
    display: block;
}